<div class="container-template">
  <div class="section-container-template">
    <form class="user-form" name="user-form" [formGroup]="userForm" (ngSubmit)="submit(userForm.value)">
      <div class="title-container">
        <h1 class="user-title">User settings</h1>
      </div>
      <div class="account-container">
        <h1 class="account-title">Account</h1>
        <div class="input">
          <input formControlName="username" class="form-control" type="text" name="username" placeholder="Username"/>
          <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
        </div>
        <div class="input">
          <input formControlName="email" class="form-control" type="text" name="email" placeholder="Email"/>
          <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        </div>
        <div class="input">
          <input formControlName="password" class="form-control" type="password" name="password" placeholder="Enter your password"/>
          <span><i class="fa fa-key" aria-hidden="true"></i></span>
        </div>
        <div class="password-container-disclaimer" *ngIf="!passwordBool" (click)="togglePasswordBool()">
          <h1 class="password-text">Change your password</h1>
          <i class="fa fa-share fa-long-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="password-container">
          <div *ngIf="passwordBool" class="input">
            <input [(ngModel)]="newPassword" formControlName="newPassword" class="form-control"  type="password" name="new-password" placeholder="Enter the new password"/>
            <span><i class="fa fa-key" aria-hidden="true"></i></span>
          </div>
          <i *ngIf="passwordBool" (click)="togglePasswordBool()" class="fa fa-long-arrow-left password-return" aria-hidden="true"></i>
        </div>
      </div>
      <div class="submit">
        <input [disabled]="!userForm.valid" type="submit" name="submit-register" value="Submit">
      </div>
    </form>
    <alert class="container-alert"></alert>
  </div>
</div>
