$color-title-link-article: #2d3047;
$color-title-hover-link-article: #f49d37;
$color-text-link-article: #2d3047;

$color-tag-link-article: #a9aab3;
$color-tag-hover-link-article: #2d3047;

$transition-link-article: cubic-bezier(.25,.1,.25,1);

.alert-template{
  min-height: 50vh;
  margin: auto;
  .alert-container-template{
    @include flexbox;
    @include flex-direction(column);
    margin: 2em auto;
    width: 350px;
    & > *{
      margin: 0.5em 0;
      @include flexbox;
    }
  }
}
