$color-title-link-article: #2d3047;
$color-title-hover-link-article: #f49d37;
$color-text-link-article: #2d3047;

$color-transparent: #f7f7f7;
$color-tag-link-article: #a9aab3;
$color-tag-hover-link-article: #2d3047;

$transition-link-article: cubic-bezier(.25,.1,.25,1);

article{
  @include flex-wrap(wrap);
  @include flexbox;
  .article-container{
    margin: auto;
    .article-link{
      @include flexbox;
      @include flex-direction(column);
      margin: 2em auto;
      width: 350px;
      .title-link-article{
        @include flexbox;
        @include flex-direction(column);
        @include transition(0.2 $transition-link-article);
        cursor: pointer;
        margin: 0 auto;
        @include JosefinSlab(22px);
        font-weight: bold;
        text-decoration: none;
        color: $color-title-link-article;
        &:after{
          cursor: default;
          margin: 0.5em auto;
          content: "***";
          height: calculateRem(8px);
        }
        &:hover{
          color: $color-title-hover-link-article;
          &:after{
            color: $color-title-link-article;
          }
        }
      }
      .text-link-article{
        @include flexbox;
        @include flex-wrap(wrap);
        text-align: justify;
        margin: 0;
        @include Inconsolata(16px);
        color: $color-text-link-article;
        .article-content{
          width: 100%;
        }
        .date-link-article{
          margin: 1em 0 auto auto;
          height: 1em;
          @include Inconsolata(16px);
          color: $color-text-link-article;
        }
        .tag-container-link-article{
          height: 1em;
          margin: 1em auto auto 0;
          .tag-link-article{
            margin: auto 2px;
            cursor: pointer;
            color: $color-tag-link-article;
            @include transition(0.2 $transition-link-article);
            @include Lobster(16px);
            &:hover{
              color: $color-tag-hover-link-article;
            }
          }
        }
      }
    }
  }
}

/* PAGINATION */

.article-page-container{
  @include flexbox;
  @include flex-direction(column);
  width: 100%;
  .page-nav-container{
    @include flexbox;
    @include justify-content(flex-end);
    margin: 0 1em;
    padding: 0;
    li{
      cursor: pointer;
      @include transition(0.2 $transition-link-article);
      @include Inconsolata(14px);
      margin: 2px;
      list-style: none;
      padding: 2px 4px;
      border: 1px solid $black;
      &:hover{
        color: $white;
        background-color: $black;
      }
    }
    .page-active{
      color: $white;
      background-color: $black;
    }
  }
}

/* DETAILS */

.article-detail-container{
  width: 100%;
  @include flexbox;
  @include flex-direction(column);
  .article-detail-header{
    @include flexbox;
    .article-detail-header-title{
      margin: auto calculateRem(-16px) auto auto;
    }
    .fa-times{
      margin: auto 0 auto auto;
      @include transition(0.2s linear);
      cursor: pointer;
      &:hover{
        color: $red;
      }
    }
    .article-dashboard{
      margin: auto 10px auto 0;
      width: 25px;
      height: 25px;
      background-color: $color-title-hover-link-article;
      color: $color-title-link-article;
      cursor: pointer;
      @include transition(0.2 $transition-link-article);
      @include flexbox;
      .fa-chevron-left{ //button return dashboard
        @include font-size(16px);
        cursor: pointer;
        margin: auto;
      }
      &:hover{
        background-color: $color-transparent;
        color: $color-title-hover-link-article;
      }
    }
  }
  .article-detail-content{
    @include font-size(16px);
    text-align: justify;
    .article-content{
      width: 100%;
    }
    .bold{
      font-weight: bold;
    }
    .itailic{
      font-style: italic;
    }
    .underline{
      text-decoration: underline;
    }
    @for $i from 14 to 23{
      .size-#{$i}{
      @include font-size(0px + $i);
      }
    }
    $list: inconsolata josefinslab lobster;
    @each $font in $list{
      .font-#{$font}{
        font-family: $font;
      }
    }
    .align-lef{
      text-align: left;
    }
    .align-right{
      text-align: right;
    }
    .align-center{
      text-align: center;
    }
    .code{
      @include Inconsolata(16px);
      background-color: $white;
      padding: calculateRem(8px) calculateRem(16px);
      margin: calculateRem(20px);
    }
  }
  .article-detail-footer{
    @include font-size(14px);
    text-align: justify;
    justify-content: space-between;
    @include flexbox;
    .article-tags{
      margin: auto auto auto 0;
      margin: auto 2px;
      cursor: pointer;
      color: $color-tag-link-article;
      @include transition(0.2 $transition-link-article);
      @include Lobster(16px);
      &:hover{
        color: $color-tag-hover-link-article;
      }
    }
    .article-date{
      margin: auto 0 auto auto;
    }
  }
}

/* DISQUS */
.disqus{
  width: 100%;
  margin: auto;
}

/* EXTERNAL */

.external{
  position: absolute;
  padding: calculateRem(10px);
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 95%;
  @include transform(translate(-50%, -50%));
  @include box-shadow(0, 0, 10px, $black);
  @include rounded;
  border: 1px solid $black;
  background-color: $white;
  overflow:auto;
  .external-content{
    @include calc(height, '92%', '100% - 70px');
  }
  .code{
    background-color: #F7F7F7!important;
  }
}
