$white: #F4F4F6;
$blue: #2e8ece;
$red: #a94442;
$green: #42A948;
$black: #101010;
$orange: #FE5D26;


.loading{
  background-color: $white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .loading-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .contener{
        overflow: hidden;
        padding: 40px 40px 0px 40px;
      .square{
        background-color: $black;
        padding: 40px;
        animation: roll 2s infinite linear;
      }
    }
  }
}



@keyframes roll {
  $jump: -25%;
  0%{
    transform: rotate(45deg);
    background-color: $blue;
  }
  10%{
    transform: translate(0,$jump) rotate(50deg);
  }
  19%{
    background-color: $blue;
  }
  20%{
    transform: rotate(135deg);
    background-color: $red;
  }
  30%{
    transform: translate(0,$jump) rotate(145deg);

  }
  39%{
    background-color: $red;
  }
  40%{
    transform:  translate(0, 0%) rotate(225deg);
    background-color: $green;
  }
  50%{
    transform: translate(0,$jump) rotate(235deg);
  }
  59%{
    background-color: $green;
  }
  60%{
    transform: rotate(315deg);
    background-color: $orange;
  }
  70%{
    transform: translate(0,$jump) rotate(325deg);
  }
  79%{
    background-color: $orange;
  }
  80%{
    transform: rotate(405deg);
    background-color: $black;
  }
  90%{
    transform: translate(0,$jump) rotate(415deg);
  }
  99%{
    background-color: $black;
  }
   100%{
    transform: rotate(495deg);
    background-color: $blue;
  }
}
