$color-social: #2d3047;
$color-social-hover: #f49d37;

$background-social: #f49d37;

$transition-social: cubic-bezier(.25,.1,.25,1);

.social-container{
  margin: 1em auto;
  $background-social: #f49d37;
  .container{
    .social-list{
      @include flexbox;
      margin: 0;
      padding: 0;
      list-style: none;
      @include Lobster(16px);
      color: $color-social;
      .social{
        cursor: pointer;
        margin: auto 2px;
        &:hover{
          color: $color-social-hover;
        }
      }
      .fa-linkedin{
        color: $black;
        @include transition(0.2s $transition-social);
        &:hover{
          color: $color-social-hover;
        }
      }
      .fa-twitter{
        color: $black;
        @include transition(0.2s $transition-social);
        &:hover{
          color: $color-social-hover;
        }
      }
      .fa-codepen{
        color: $black;
        @include transition(0.2s $transition-social);
        &:hover{
          color: $color-social-hover;
        }
      }
      .fa-github{
        color: $black;
        @include transition(0.2s $transition-social);
        &:hover{
          color: $color-social-hover;
        }
      }
    }
  }
}
