$background-color-admin-component: #f7f7f7;

$background-color-nav-admin-component: $dark-background;
$background-color-nav-hover-admin-component: #f49d37;

$background-color-content-admin-component: $background;

$transition-nav-admin-component: cubic-bezier(.25,.1,.25,1);

$user-form-title-color-admin-component: $white;
$user-form-title-background-admin-component: #f49d37;
$user-border-title-background-admin-component: #f49d37;

$password-return-color: #f49d37;

admin{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $background-color-admin-component;
  .admin-container{
    @include flexbox;
    @include flex-wrap(wrap);
    .admin-nav{
      @include flexbox;
      @include flex-direction(column);
      @include order(1);
      z-index: 0;
      margin: 0;
      padding: 0;
      width: calculateRem(40px);
      @include box-shadow(0, 0 , 10px, $black-shadow);
      height: 100vh;
      background-color: $background-color-nav-admin-component;
      .admin-nav-li{
        cursor: pointer;
        @include flexbox;
        margin: auto 0;
        list-style: none;
        color: $white;
        @include font-size(20px);
        @include transition(0.2 $transition-nav-admin-component);
        &:hover{
          color: $background-color-nav-hover-admin-component;
        }
        .fa{
          margin: auto;
          padding: calculateRem(10px);
        }
      }
      .admin-nav-li:first-child{
        margin: 0;
        padding: calculateRem(20px) auto calculateRem(22px);
        border-bottom: calculateRem(2px) solid $red;
        &:hover{
          color: $red;
        }
      }
    }
    .admin-content{
      @include order(2);
      @include calc(width, 100%, '100% - 40px');
      height: 100vh;
      background-color: $background-color-content-admin-component;
    }
  }
}

/* USER */
.user-form{
  margin: calculateRem(50px) calculateRem(10px)!important;
  .title-container{
    border-bottom: calculateRem(1px) solid $user-border-title-background-admin-component;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    .user-title{
      width: calculateRem(150px);
      margin: 0;
      padding: calculateRem(5px) calculateRem(10px);
      background-color: $user-form-title-background-admin-component;
      color: $user-form-title-color-admin-component;
    }
  }
  .account-container{
    border-right: calculateRem(2px) solid $form-border;
    width: calculateRem(250px);
    padding: calculateRem(5px) calculateRem(10px);
    height: 100%;
    .account-title{
      @include JosefinSlab(22px);
    }
    .password-container-disclaimer{
      @include flexbox;
      cursor: pointer;
      padding: calculateRem(7.4px);
      border: 1px solid $black;
      .password-text{
        margin: auto;
        @include font-size(16px);
      }
      .password-forward{
        margin: auto calculateRem(2px);
        color: #f49d37;
        @include font-size(20px);
        cursor: pointer;
      }
    }
    .password-container{
      @include flexbox;
      .input{
        margin: auto 0;
        width: 100%;
      }
      .password-return{
        margin: auto calculateRem(2px);
        color: $password-return-color;
        @include font-size(20px);
        cursor: pointer;
      }
    }
  }
  .ng-invalid{
    border-color: $red!important;
    color: $red!important;
    @include placeholder{
      color: $red!important;
    };
  }
  .submit{
    position: absolute;
    width: calculateRem(100px);
    margin: auto;
    right: calculateRem(10px);
    bottom: calculateRem(10px);
  }
}
