#frontpage{
  display: none;
  >div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10%;
    border: solid 2px $white;
    .arrow-contener{
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 2px solid $white;
      .arrow{
        width: 40px;
        position: absolute;
        top: 8px;
        left: 10px;
        cursor: pointer;
      }
    }
  }
  h1{
    font-size: 35px;
    margin: 10px;
    text-shadow: 0px 0px 10px rgba($black, 0.9);
    color: $white;
    font-family: $archive;
  }
}
