// Colors
$background: #f29c1f;
$white: #fcfdfd;
$red: #ef3c38;
$black: #101010;

// Shadows

// Fonts
$archive: "Archive", sans-serif;
$gotham: "Gotham Ultra", sans-serif;

// Breakpoints
$desktop-large: 1400px;
$desktop: 1200px;
$tablet: 1024px;
$mobile: 500px;
